@charset "UTF-8";

.header{
	background-color:gray;
	height:30px
}
.logout{
	float:right;
}

.username{
	float:right;
	margin-right:200px;
}

.container{
	text-align:center;
}

.container-top a{
	float:right;
	padding-bottom:50px;
}

form{
	padding-top:100px;
}

.form-control{
	float:right;
}
.container-bottom{
	text-align:right;
}
