@charset "UTF-8";
.header{
	background-color:gray;
	height:30px
}
.logout{
	float:right;
}

.username{
	float:right;
	margin-right:200px;
}
.container{
	text-align:center;
}
.container-top{
	padding:30px;
	margin-bottom:30px;
}
a{
	float:left;
}
.errMsg{
	color:red;
}